.mars_img {
    width: 302px;
    height: 300px;
    border-radius: 30px;
    opacity:0.8;
    transition: 1s;
    cursor: pointer;
}

.mars_img:hover {
    opacity:1;
    transform: scale(1.03);
}

.mars_img:after {
    transition: all .2s ease-in-out;
}
