.homeWrapper {
    margin: 200px 0 150px 0;
}

.home {
    background-color: white;
    padding: 10px 30px 30px 30px;
    margin: 0 auto;
    width: 1300px;
    border-radius: 20px;
    text-align: center;
}

.paragraph {
    font-size: 22px;
}

.link {
    color: #1212ec;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}
