.link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    padding-right: 30px;
}

.header {
    width: 100%;
    height: 20px;
    background: black;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px 20px 0;
}
