@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  background-image: url(./images/background-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Yusei Magic', sans-serif;
}
